@inherits Atoll.Components.AtollLayoutSlice<Atoll.Swell.Layouts.SlideLayoutModel>
@using Atoll.Swell.Layouts
<div class="swell-slide-content swell-layout-end @Model.Config.Class"
     @{ if (Model.Config.Background != null) { WriteLiteral($"style=\"background:{System.Net.WebUtility.HtmlEncode(Model.Config.Background)}\""); } }>
    <div class="swell-slide-body swell-end-body">
        @{ await RenderBodyAsync(); }
    </div>
    @if (Model.ShowSlideNumber)
    {
        <span class="swell-slide-number" aria-hidden="true">@Model.SlideIndex / @Model.TotalSlides</span>
    }
</div>
