@inherits Atoll.Islands.AtollIslandSlice
@using Atoll.Islands
@attribute [ClientLoad]
@functions {
    public override string ClientModuleUrl => "/scripts/counter-island.js";
}
<div class="counter-island">Counter Island Content</div>
